-
	var data = [
		{
			caption: 'Совместная работа',
			img: 'faq-1.svg',
			text: [
				'Запускайте проекты, ставьте <strong>задачи любой сложности.</strong> Добавляйте чек-листы, вложения, подзадачи. Назначайте ответственных, соисполнителей и наблюдателей. Подключайте внешних пользователей.',
				'Включайте напоминания, ставьте дедлайны, фиксируйте затраты времени.',
				'Используйте списки, канбан-доски, диаграмму Ганта, календари для планирования, группировки и сортировки проектов и задач.',
				'Автоматизируйте процессы с помощью роботов и <strong>отслеживайте эффективность исполнителей</strong> с помощью аналитики и отчетов.',
			],
		},
		{
			caption: 'Задачи и проекты',
			img: 'faq-1.svg',
			text: [
				'Запускайте проекты, ставьте <strong>задачи любой сложности.</strong> Добавляйте чек-листы, вложения, подзадачи. Назначайте ответственных, соисполнителей и наблюдателей. Подключайте внешних пользователей.',
				'Включайте напоминания, ставьте дедлайны, фиксируйте затраты времени.',
				'Используйте списки, канбан-доски, диаграмму Ганта, календари для планирования, группировки и сортировки проектов и задач.',
				'Автоматизируйте процессы с помощью роботов и <strong>отслеживайте эффективность исполнителей</strong> с помощью аналитики и отчетов.',
			],
		},
		{
			caption: 'CRM',
			img: 'faq-1.svg',
			text: [
				'Запускайте проекты, ставьте <strong>задачи любой сложности.</strong> Добавляйте чек-листы, вложения, подзадачи. Назначайте ответственных, соисполнителей и наблюдателей. Подключайте внешних пользователей.',
				'Включайте напоминания, ставьте дедлайны, фиксируйте затраты времени.',
				'Используйте списки, канбан-доски, диаграмму Ганта, календари для планирования, группировки и сортировки проектов и задач.',
				'Автоматизируйте процессы с помощью роботов и <strong>отслеживайте эффективность исполнителей</strong> с помощью аналитики и отчетов.',
			],
		},
		{
			caption: 'Маркетинг',
			img: 'faq-1.svg',
			text: [
				'Запускайте проекты, ставьте <strong>задачи любой сложности.</strong> Добавляйте чек-листы, вложения, подзадачи. Назначайте ответственных, соисполнителей и наблюдателей. Подключайте внешних пользователей.',
				'Включайте напоминания, ставьте дедлайны, фиксируйте затраты времени.',
				'Используйте списки, канбан-доски, диаграмму Ганта, календари для планирования, группировки и сортировки проектов и задач.',
				'Автоматизируйте процессы с помощью роботов и <strong>отслеживайте эффективность исполнителей</strong> с помощью аналитики и отчетов.',
			],
		},
		{
			caption: 'Сайты и магазины',
			img: 'faq-1.svg',
			text: [
				'Запускайте проекты, ставьте <strong>задачи любой сложности.</strong> Добавляйте чек-листы, вложения, подзадачи. Назначайте ответственных, соисполнителей и наблюдателей. Подключайте внешних пользователей.',
				'Включайте напоминания, ставьте дедлайны, фиксируйте затраты времени.',
				'Используйте списки, канбан-доски, диаграмму Ганта, календари для планирования, группировки и сортировки проектов и задач.',
				'Автоматизируйте процессы с помощью роботов и <strong>отслеживайте эффективность исполнителей</strong> с помощью аналитики и отчетов.',
			],
		},
		{
			caption: 'Автоматизация',
			img: 'faq-1.svg',
			text: [
				'Запускайте проекты, ставьте <strong>задачи любой сложности.</strong> Добавляйте чек-листы, вложения, подзадачи. Назначайте ответственных, соисполнителей и наблюдателей. Подключайте внешних пользователей.',
				'Включайте напоминания, ставьте дедлайны, фиксируйте затраты времени.',
				'Используйте списки, канбан-доски, диаграмму Ганта, календари для планирования, группировки и сортировки проектов и задач.',
				'Автоматизируйте процессы с помощью роботов и <strong>отслеживайте эффективность исполнителей</strong> с помощью аналитики и отчетов.',
			],
		},
		{
			caption: 'Аналитика',
			img: 'faq-1.svg',
			text: [
				'Запускайте проекты, ставьте <strong>задачи любой сложности.</strong> Добавляйте чек-листы, вложения, подзадачи. Назначайте ответственных, соисполнителей и наблюдателей. Подключайте внешних пользователей.',
				'Включайте напоминания, ставьте дедлайны, фиксируйте затраты времени.',
				'Используйте списки, канбан-доски, диаграмму Ганта, календари для планирования, группировки и сортировки проектов и задач.',
				'Автоматизируйте процессы с помощью роботов и <strong>отслеживайте эффективность исполнителей</strong> с помощью аналитики и отчетов.',
			],
		},
	];

+b.SECTION.faq 
	.wrap
		each item, index in data
			+e.item(class=`${index === 0 ? 'is-opened' : ''}`)
				+e.item-head.flex._vertical
					+e.item-counter 0#{ index + 1 }.
					+e.item-caption #{ item.caption }
					+e.item-icon
						span 
						span
				+e.item-content.flex._start._justify
					+e.item-text 
						each text in item.text
							p !{ text }
					+e.item-img
						img(
							src=`${imgPath}faq/${item.img}`
							alt='faq-image')
